<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316379143309-avd51fk0necojuel6foc60clcor6fvck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316379143309-avd51fk0necojuel6foc60clcor6fvck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316379143309-ddl0rsv98mvf7j1ar9o3sf308974sc0d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIIMlSj9npn6xgcZ48SmFss2SZGB1_-o0</string>
	<key>GCM_SENDER_ID</key>
	<string>316379143309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssedawulac.grupytinder</string>
	<key>PROJECT_ID</key>
	<string>grupytinder</string>
	<key>STORAGE_BUCKET</key>
	<string>grupytinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316379143309:ios:4ad208f824f2af62edd6c4</string>
</dict>
</plist>